*{
	margin: 0;
	padding: 0;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	font-size: larger;
	position: relative;
}
.nav-links ul li a{
	color: rgb(18, 20, 22);
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after{
	content:'';
	width: 0%;
	height: 2px;
	background: #555;
	display: block;
	margin: auto;
	transition: 0.5ms;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.header
{
	background-color: rgb(172, 165, 207,0.5);
	width: auto;
	height: 90px;
}
.footer
{
	background-color: rgba(4, 3, 5, 0.8);
	transform: translateY(50px);
	width: auto;
	height: 70px;
}

h1
{
	color: black;
	text-align:center;
	font-size: xx-large;
}
#section
{
	background-color: wheat;
}
img
{
	width: 40px;
	height: 40px;
	margin-top: 20px;
	margin-left: 250px;
	margin-right: -10px;
}
.main
{
	text-align: right;
	margin-right: 20px;
	margin-top: -250px;

}
.p
{
	text-align: left;
	margin-left: 50px;
}
.h2
{
	margin-top: auto;
}
